fastapi
uvicorn
requests
beautifulsoup4
pydantic
python-multipart
python-dotenv
pytest
httpx
sqlmodel
psycopg2-binary
aiosqlite
python-jose[cryptography]
passlib[argon2]
argon2-cffi
pandas
openpyxl
xlrd
fpdf2
matplotlib
pytest-html
flake8
pytest-asyncio
